include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/images/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/styles/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/scripts/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/_locales/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/vendor/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/css/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/js/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_metadata/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/img/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/assets/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/styles/images/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/styles/custom-theme/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/scripts/options/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/_locales/en/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/vendor/scripts/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/css/fonts/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/css/themes/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/js/codemirror/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/js/wasm/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/js/scriptlets/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/img/fontawesome/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/lz4/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/diff/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/publicsuffixlist/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/regexanalyzer/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/sl/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/sk/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/ur/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/pl/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/vi/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/sq/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/sv/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/he/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/ms/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/hy/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/da/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/mr/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/kk/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/no/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/pt_BR/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/ja/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/el/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/lv/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/oc/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/fy/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/it/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/ca/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/zh_TW/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/cs/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/te/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/pt_PT/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/ru/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/ro/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/zh_CN/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/uk/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/sr/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/en_GB/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/ml/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/kn/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/bs/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/ar/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/gl/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/hr/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/hu/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/nl/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/bg/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/bn/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/fil/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/nb/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/hi/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/ka/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/de/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/az/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/ko/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/fi/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/cv/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/eo/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/id/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/fr/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/es/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/et/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/en/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/fa/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/lt/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/eu/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/ta/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/th/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/_locales/tr/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/assets/ublock/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/assets/thirdparties/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/foxy_proxy/styles/custom-theme/images/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/css/fonts/Metropolis/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/css/fonts/Inter/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/lib/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/addon/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/publicsuffixlist/wasm/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/assets/thirdparties/publicsuffix.org/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/assets/thirdparties/urlhaus-filter/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/assets/thirdparties/easylist-downloads.adblockplus.org/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/assets/thirdparties/pgl.yoyo.org/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/addon/hint/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/addon/scroll/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/addon/merge/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/addon/comment/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/addon/search/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/addon/edit/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/addon/fold/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/addon/display/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/lib/codemirror/addon/selection/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/assets/thirdparties/publicsuffix.org/list/*
include selenium_chrome/chrome_addons/builtin_addon_install_settings/resources/ublock_origin/assets/thirdparties/pgl.yoyo.org/as/*